* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #111;
  --roulette-color: #222;
  --rc-border: #111555;
  --bg-color-title: #111530;
  --fill-color-title: #faf;
  --shadow-color-title: #a1a;
  --white: #ffffff;
  --black: #000000;
  --sz-ldng: 30px;
  --border-color-center: #aa88ff;
  --bcc-shadow: #7755cc;
  --bg-color-box: #112266;
  --border-color-box: #3377aa;
  --no-boxes-color: #ff8855;
  --boxes-color: #33aa55;
  /*COLORS WITH HOVER*/
  /*CHV = Color Hover*/

}
html {
  font-size: 62.5%;
  font-family: "Open Sans";
  overflow-x: hidden;
}
.no-overflowY {
  overflow-y: hidden;
}
body {
  background-color: var(--bg-color);
}
.no-decoration {
  text-decoration: none;
}
.title-section {
  filter: brightness(70%);
  width: 100vw;
  padding: 20px 0;
  background-color: var(--bg-color-title);
  border-radius: 0 0 40px 40px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  animation: falling-title 2s forwards;
}
@keyframes falling-title {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: none;
  }
}
.title-section:hover {
  filter: brightness(100%);
  transition: all 0.3s;
}
.title-h1 {
  justify-self: center;
  font-size: 5rem;
  color: var(--fill-color-title);
  text-shadow: 0 0 10px var(--shadow-color-title);
  font-family: "Dancing Script";
}
.title-h1:hover {
  cursor: pointer;
  transition: text-shadow 0.2s;
  text-shadow: 0 0 30px var(--shadow-color-title);
}
.header-nav-button {
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: transparent;
}
.header-nav-button:hover {
  transition: all 0.4s;
  border: 1px solid var(--white);
  box-shadow: 0 0 5px var(--white);
}
.header-nav-button img {
    max-width: 100%;
    height: auto;
}
.button-box {
  position: relative;
}
.counter-boxes {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--no-boxes-color);
  border-radius: 50%;
  color: var(--white);
  border: 1px solid var(--white);
  width: 18px;
  height: 18px;
  top: 0;
  right: 0;
}
main {
  display: flex;
  margin: 20px;
  justify-content: center;
}
.phone-navigation-menu {
  position: absolute;
  padding-top: 20px;
  z-index: 2;
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}
.visible-menu {
  display: flex;
}
.mobile-button {
  border-bottom: 1px solid white;
  color: var(--white);
  font-size: 2rem;
  width: 100%;
  border-radius: 0%;
  display: flex;
  justify-content: space-between;
  padding: 0 25vw;
  align-items: center;
  overflow: hidden;
  
}
.mobile-button:hover > span {
  text-shadow: 0 0 5px var(--white);
}
.mobile-button:nth-child(1) {
  border-top: 1px solid white;
}
.counter-boxes-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--no-boxes-color);
  border-radius: 50%;
  color: var(--white);
  border: 1px solid var(--white);
  width: 30px;
  height: 30px;
}
.mobile-button img {
  max-height: 100%;
}
.info-box {
  position: absolute;
}
.roulette-section {
  position: relative;
}
.roulette {
  position: relative;
  filter: brightness(95%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 40vw;
  height: 40vw;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #333 0%, var(--roulette-color) 0);
  border: 3px solid var(--rc-border);
  box-shadow: 0 0 20px var(--rc-border);
  overflow: hidden;
}

.box-roulette {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-box);
  border: 3px solid var(--border-color-box);
  filter: brightness(70%);
  border-radius: 10px;
  margin: 10px;
}

.box-roulette > img{
  transition: all 0.5s;
  width: 80%;
  height: 80%;
}

.box-roulette .title-box {
  font-weight: 700;
  color: var(--border-color-center);
  text-shadow: 1px 1px 1px #7755cc;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#spin-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--border-color-center);
  font-size: 2rem;
  font-weight: 700;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: var(--white);
  border: 3px solid var(--border-color-center);
  box-shadow: #000 0 0 10px 3px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  user-select: none;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#spin-btn:active {
  transition: transform 0.05s;
  transform: translate(-50%, -50%) scale(0.95);
}
@media (min-width: 1px) {
  .mobile-menu {
    display: inline-block;
  }
  .no-mobile-button {
    display: none;
  }
}
@media (min-width:750px) {
  .mobile-menu {
    display: none;
  }
  .no-mobile-button {
    display: inline-block;
  }
}
@media (min-width: 769px) {
  #spin-btn {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1024px) {
  .roulette {
    width: 50vw;
    height: 50vw;
  }
}
@media (max-width: 768px) {
  .roulette {
    width: 60vw;
    height: 60vw;
  }
}
@media (max-width: 520px) {
  .roulette {
    width: 80vw;
    height: 80vw;
  } 
}